<h4 class="text-success">Reset password successfull</h4>
@section Scripts{
    <script>
        window.setTimeout(function(){
            window.location.href='/Authenticated/Users';
            }, 4000);
    </script>
}