@model SpaManagement.ViewModels.ReturnViewModels

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<form method="post">
    <div class="row p-3 border bg-white">
        <div class="col-12 border-bottom">
            <h2 class="text-primary">Return Product</h2>
        </div>
        <input asp-for="Order.OrderDate" class="form-control" hidden>
        <input asp-for="Order.OrderType" class="form-control" hidden >
        <input asp-for="BranchId" class="form-control" hidden >
        <input asp-for="CustomerId" class="form-control" hidden >
        <div class="col-8 pt-4">
            <partial name="_StatusMessage" model="@ViewData["Message"]" />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductID"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.ProductID, Model.ProductList, "-Select a Category", new {@class = "form-control"})
                    <span asp-validation-for="ProductID" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Quantity"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Quantity" class="form-control">
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="PaidAmount"></label>
                </div>
                <div class="col-8">
                    <input asp-for="PaidAmount" class="form-control">
                    <span asp-validation-for="PaidAmount" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Note"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Note" class="form-control"></textarea>
                    <span asp-validation-for="Note" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    <partial name="_CreateAndBackToListButton"/>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
