@model SpaManagement.ViewModels.AccountViewModel

@{
    var title = "Create Account";
    Layout = "_Layout";
}
<form method="post">
    <div class="row p-3 border bg-white">
        @if (Model.Account.Id != 0)
        {
            <input type="hidden" asp-for="Account.Id">
            title = "Edit Account";
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <partial name="_StatusMessage" model="@ViewData["Message"]" />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Account.CustomerId"></label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(m => m.Account.CustomerId, Model.CustomersList, "-Select a Category", new {@class = "form-control"})
                    <span asp-validation-for="Account.CustomerId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Account.TransactDate"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Account.TransactDate" class="form-control">
                    <span asp-validation-for="Account.TransactDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Account.Debt"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Account.Debt" class="form-control">
                    <span asp-validation-for="Account.Debt" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Account.Credit"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Account.Credit" class="form-control">
                    <span asp-validation-for="Account.Credit" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Account.Balance"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Account.Balance" class="form-control">
                    <span asp-validation-for="Account.Balance" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Account.Description"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Account.Description" class="form-control">
                    <span asp-validation-for="Account.Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Account.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="@Model.Account.Id"/>
                    }
                    else
                    {
                        <partial name="_CreateAndBackToListButton"/>
                    }
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}