@using SpaManagement.Utility.Enum
@model SpaManagement.Models.Customer

@{
    var title = "Create Customer";
    Layout = "_Layout";
}
<form method="post">
    <div class="row p-3 border bg-white">
        @if (Model.id != 0)
        {
            <input type="hidden" asp-for="id">
            title = "Edit Customer";
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <partial name="_StatusMessage" model="@ViewData["Message"]" />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="IdentityCard"></label>
                </div>
                <div class="col-8">
                    <input asp-for="IdentityCard" class="form-control">
                    <span asp-validation-for="IdentityCard" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Phone"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Phone" class="form-control">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Sex"></label>
                </div>
                <div class="col-8">
                    <select asp-for="Sex" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    <span asp-validation-for="Sex" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="DateOfBirth"></label>
                </div>
                <div class="col-8">
                    <input asp-for="DateOfBirth" class="form-control">
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Job"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Job" class="form-control">
                    <span asp-validation-for="Job" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="@Model.id"/>
                    }
                    else
                    {
                        <partial name="_CreateAndBackToListButton"/>
                    }
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}