@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @* @if (SignInManager.IsSignedIn(User)) *@
    @* { *@
    @*     <li class="nav-item"> *@
    @*         <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@await Component.InvokeAsync("UserName")</a> *@
    @*     </li> *@
    @*     <li class="nav-item"> *@
    @*         <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})"> *@
    @*             <button type="submit" class="nav-link btn btn-link text-dark">Logout</button> *@
    @*         </form> *@
    @*     </li> *@
    @* } *@
    @* else *@
    @* { *@
    @*     <li class="nav-item"> *@
    @*         <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a> *@
    @*     </li> *@
    @* } *@
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@await Component.InvokeAsync("UserName")</a>
            </div>
        </div>
    }
    else
    {
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="#" class="d-block">Hi, Users</a>
        </div>
      </div>
    }
</ul>

